.user-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 3rem;
  width: max-content;
}

.avatar-container,
.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.avatar-container img {
  display: inline-block;
  width: 100px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.avatar-container h4,
.name-container h4 {
  font-size: 1rem;
  color: gray;
}

.name-container p {
  font-size: 1.5rem;
  font-weight: bold;
}
